@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans+Mono&family=Varela&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Bungee+Hairline&family=Srisakdi&family=Zilla+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&family=Montserrat:wght@300&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@200&display=swap');
/*
font-family: 'Gentium Book Basic', serif;
font-family: 'La Belle Aurore', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Space Mono', monospace;
font-family: 'Josefin Slab', serif;
font-family: 'Cormorant Garamond', serif;
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Varela', sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html {    
    scroll-behavior: smooth;
  }

::selection {
    background-color: #000000;
    color: #ffffff;
}

:root {
    /* CSS Variables */
    --color-bg: #F9F9F9;
    --color-bg-2: #FFFFFF;
    --text-header: white;
    --text-header-alt:#a5a9a0;
    --text-normal: #000000;
    --text-link: rgb(95, 90, 90);
}


/* Header */
.header {
    position: absolute;
    width: 100%;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-logo:hover {
    color: var(--text-header);
}

nav ul li {
    list-style-type: none;
    text-align: left;
}

nav a,
nav ul li a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    text-transform: lowercase;
    color: var(--text-header);
    transition:ease 250ms;
}

nav ul li a:hover, 
nav .user-login-button:hover i, 
nav .user-logout-button:hover i,
.shop-cart-button:hover i {
    color:var(--text-header-alt);
}

nav .user-login-button i,
nav .user-logout-button i {
    cursor: pointer;
    color: var(--text-header);
}

nav .welcome-user {
    color: var(--text-header);
    font-weight: bold;
}

.welcome-user a {
    padding: 0 1rem;
}

@media (min-width: 992px) {
    nav ul {
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    nav ul li a {        
        padding:0 2rem;
    }
    nav ul li .user-login-button,
    nav ul li .user-logout-button,
    .shop-cart-button {
        padding-left: 2rem;
    }
}

.shop-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 40px;
  background-color: rgb(246,246,246);
  height: 50px;
}

.shop-header a {
    font-family: 'Quicksand', sans-serif;
    display: block;
    color: #000000;
}

.shop-cart-button i {
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
}

/* Login and Sign-up Modal */
.modal-body {
    padding: 0;   
    overflow: hidden;
}

.modal .row {
    background-color: var(--color-bg-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-right {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-title {
    color: var(--text-normal);
    font-size: 2rem;
}

.modal-desc {
    font-size: 0.8rem;
    margin: 1rem 0;
    color: var(--text-header-alt);
}

.modal-message, .modal-message a {
    color: var(--text-header-alt);
    font-size: 0.65rem;
}

#signup-modal .modal-message {
    padding-bottom: 2rem;
}

.modal-message a {
    cursor: pointer;
    color: var(--text-normal);
    font-weight: bold;
    text-decoration: none;
}

.modal-message a:hover {
    color: var(--text-link);
}

#login-modal .input-block {
    margin: 1rem 0;
}

#signup-modal .input-block {
    margin: 0.2rem 0;
}

.input-label {
    width: 100%;
    color: var(--text-normal);
    font-size: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.modal input {
    width: 100%;
    padding: 0.6rem 0.1rem;
    border: none;
    border-bottom: solid 1px var(--text-normal);
    margin: 0.2rem 0;
    transition: ease .4s;
}

#signup-modal input {
    margin: 0;
}

.modal input::placeholder {
    font-size: 0.6rem;
    color: var(--text-header-alt);
}

.modal input:focus {
    transform: scale(1.1);
    outline: none;
}

.login-submit-button, .signup-submit-button {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: bold;
    margin: 1.5rem 0;
    width: 100%;
    height: 2rem;
    background-color: var(--text-normal);
    color: var(--color-bg-2);
    border-radius: 5px;
    border: none;
    transition: ease-in-out 0.3s;
}

.login-submit-button:hover, .signup-submit-button:hover {
    cursor: pointer;
    color: var(--text-normal);
    background-color: var(--text-header-alt);
}

.modal-close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: inline-block;
    text-align: right;
}

.modal-left {    
    position: relative;
    background-image: url('../img/mod1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.modal-close-button i {
    cursor: pointer;
}

.modal-close-button i {
    font-size: 1.4rem;
    color: #000000;
    transition: ease 0.2s;
}

.modal-close-button i:hover {
    transform: scale(1.4);
}

@media (min-width: 992px) {
    .modal .row {
        flex-direction: row;
    }
    .modal-right, .modal-left {
        width: 40vw;
        height: 80vh;
    }
    .modal-left {        
        order: 2;
    }
    .modal-right {
        order: 1;
    }  
    .input-label {
        font-size: 0.6rem;
        letter-spacing: 1.1rem;
    }
}   

/* Footer */
.footer-container {
    text-align: center;
}

.footer-logo {
    font-size: 1.5rem;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}

.footer-mark {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copyright {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 0.3rem;
    margin: 1.5rem 0;
    text-align: center;
}

.footer-quote {
    font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-link);
}

@media (min-width: 768px) {
    .footer-container {
        text-align: left;
    }
}