@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans+Mono&family=Varela&family=Zilla+Slab:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Varela', sans-serif;
}

::selection {
    background-color: #000000;
    color: #ffffff;
}

:root {
    /* CSS Variables */
    --color-bg: #F9F9F9;
    --color-bg-2: #FFFFFF;
    --text-header: white;
    --text-header-alt:#a5a9a0;
    --text-normal: #000000;
    --text-link: rgb(95, 90, 90);
}

/* Login and Sign-up Modal */
.modal {
    display: none;
    transform: scale(1);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    overflow: auto;
}

.modal-container {
    height: 100%;
    width: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-right {    
    background-color: var(--color-bg-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    width: 100%;
}

.modal-title {
    font-size: 2rem;
}

.signup-modal .modal-title {
    margin-top: 1rem;
}

.modal-desc {
    font-size: 0.8rem;
    margin: 1rem 0;
    color: var(--text-header-alt);
}

.modal-message, .modal-message a {
    color: var(--text-header-alt);
    font-size: 0.65rem;
}

.modal-message a {
    cursor: pointer;
    color: var(--text-normal);
    font-weight: bold;
    text-decoration: none;
}

.modal-message a:hover {
    color: var(--text-link);
}

.login-modal .input-block {
    margin: 1rem 0;
}

.signup-modal .input-block {
    margin: 0.5rem 0;
}

.input-label {
    font-size: 0.6rem;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
}

.modal input {
    width: 100%;
    padding: 0.6rem 0.1rem;
    border: none;
    border-bottom: solid 1px var(--text-normal);
    margin: 0.2rem 0;
    transition: ease .4s;
}

.signup-modal input {
    padding: 0.2rem 0.1rem;
    margin: 0;
}

.modal input::placeholder {
    font-size: 0.6rem;
    color: var(--text-header-alt);
}

.modal input:focus {
    transform: scale(1.1);
    outline: none;
}

.login-submit-button, .signup-submit-button {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: bold;
    margin: 1.5rem 0;
    width: 100%;
    height: 2rem;
    background-color: var(--text-normal);
    color: var(--color-bg-2);
    border-radius: 5px;
    border: none;
    transition: ease-in-out 0.3s;
}

.login-submit-button:hover, .signup-submit-button:hover {
    cursor: pointer;
    color: var(--text-normal);
    background-color: var(--text-header-alt);
}

.modal-left {    
    background-color: var(--color-bg-2);
    width: 100%;
    height: 50%;
}

.modal-left img {
    transform: scale(1);
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.modal-close-button {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: ease 0.2s;
}

.modal-close-button:hover {
    transform: scale(1.8);
}

@media (min-width: 768px) {
    .modal-container {
        flex-direction: row;
    }
  
    .modal-right, .modal-left {
        width: 40vw;
        height: 80vh;
    }

    .modal-left, .modal-left img {
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    
    .modal-left {        
        position: relative;
        order: 2;
    }

    .modal-right {
        order: 1;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }  
}

/* Footer */
.footer-container {
    text-align: center;
}

.footer-logo {
    font-size: 1.5rem;
    font-family: 'Bungee Hairline', cursive;
    font-weight: bold;
}

.footer-mark {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-copyright {
    font-size: 0.7rem;
    letter-spacing: 0.3rem;
    margin: 1.5rem 0;
    text-align: center;
}

.footer-quote {
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-link);
}

@media (min-width: 768px) {
    .footer-container {
        text-align: left;
    }
}