/* Typography */

h1 {    
    font-family: 'Bungee Hairline', cursive;
    font-size: 3rem;
    color:var(--text-header);
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

.sub-heading {
    font-family: 'Josefin Slab', serif;
    color:var(--text-header);
    font-size: 0.8rem;
    font-weight: 200;
    max-width: 50vw;
}

@media (min-width: 768px) { 
    h1 {
        font-size: 4rem;        
    }
    h2 {
        font-size: 2.5rem;    
    }    
    h3 {
        font-size: 2rem;
    }
    .sub-heading {
        font-size: 1.1rem;
    }
}

/* LANDING */
.landing-container {
    height: 100vh;
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 8rem;
}

.landing-text {
    max-width: 70%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


@media (min-width: 992px) {  
    .landing-container { 
        background-image: url("../img/bg2.png");
        background-position: center;
    }
}

/* Scroll */
.scroll-animate a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  } 

  .scroll-animate a:hover {
    opacity: .5;
  }

 #scroll a {
    padding-top: 70px;
  }

 #scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
@keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
}

/* Categoreies */
.category-container {
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
}

.category-image, .category-details {
    flex: 100%;
}

.category-image {
    height: 80vh;
    background-size: cover;
    background-position: center right;
}

.category-mugs {
    background-image: url("../img/mugs1.png");
}

.category-plates {
    background-image: url("../img/plates1.png");
}

.category-bowl {
    background-image: url("../img/bowls1.png");
    background-position: center left;
}

.category-pitcher {
    background-image: url("../img/pitcher1.png");
    background-position: center;
}

.category-details {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.category-details h3 {    
    font-family: 'Gentium Book Basic', serif;
    font-weight: 500;
}

.category-desc {
    font-family: 'Quicksand', sans-serif;
    color: var(--text-normal);
    padding: 2rem 0;
}

.category-details .text {
    font-family: 'La Belle Aurore', cursive;
}

.category-link:hover {
    color: var(--text-link);
}

@media (min-width: 768px) {
    .category-image, .category-details{
        flex: 50%;
    }
}

/* Arrow */
.the-arrow {
    width: 64px;
    transition: all 0.2s;
}

.the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
}

.the-arrow.-left > .shaft {
    width: 0;
    background-color: var(--text-normal);
}

.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
    width: 0;
    background-color: var(--text-normal);
}

.the-arrow.-left > .shaft:before {
    transform: rotate(0);
}

.the-arrow.-left > .shaft:after {
    transform: rotate(0);
}

.the-arrow.-right {
    top: 3px;
}

.the-arrow.-right > .shaft {
    width: 64px;
    transition-delay: 0.2s;
}

.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}

.the-arrow.-right > .shaft:before {
    transform: rotate(40deg);
}

.the-arrow.-right > .shaft:after {
    transform: rotate(-40deg);
}

.the-arrow > .shaft {
    background-color: var(--text-normal);
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}

.the-arrow > .shaft:before, .the-arrow > .shaft:after {
    background-color: var(--text-normal);
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}

.the-arrow > .shaft:before {
    transform-origin: top right;
}

.the-arrow > .shaft:after {
    transform-origin: bottom right;
}

.animated-arrow {
    display: inline-block;
    color: var(--text-normal);
    font-size: 1.25em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}

.animated-arrow:hover {
    color: var(--text-link);
}

.animated-arrow:hover > .the-arrow.-left > .shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: var(--text-link);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: var(--text-link);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before {
    transform: rotate(40deg);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:after {
    transform: rotate(-40deg);
}

.animated-arrow:hover > .main {
    transform: translateX(80px);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
    transform: rotate(0);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    transform: rotate(0);
}

.animated-arrow > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.animated-arrow > .main > .text {
    margin: 0 16px 0 0;
    line-height: 1;
}
  