body {
    background-color: rgb(246,246,246);
    font-size: 12px;
    font-family: "Work Sans";
  }

  .shop-header {
    justify-content: space-between;
  }

  .product-page-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    width: 100%;
    padding: 4rem;
  }

  @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
  }

  .product-material, .product-colour, .tag {
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Roboto Mono', monospace;
  }
  
  .quantity {
    background-color: transparent;
    outline:none;
    border: none;
    width: 100px;
  }
  
  .product-title , .product-price, .product-dimensions {
    font-family: 'Mulish', sans-serif;
  }

  .product-details {
font-family: 'Cormorant Garamond', serif;
    
  }

  .product-description {
    padding: 2rem;
    margin: 2rem;
  }

  .product-image {
    height: 450px;
  }

  .product-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .add-to-cart {
    width: 100%;
    padding: 2rem 0;
  }

  .add-to-cart-btn {
    text-transform: uppercase;
    font-family: 'Martian Mono', monospace;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid black;
    font-size: 0.7rem;
    padding: 0.5rem 1.6rem;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
  }

  .add-to-cart-btn:hover {
    color: black;
    background-color: white;
  }
  
  