body {
  background-color: rgb(246,246,246);
}

/* Shop Landing */
.shop-landing {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.product-menu a {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}


.product-menu a:hover {
  text-decoration: underline;
}

/*Product Card*/
.product-card {
  background-color: blue;
  padding: 2rem;
}


.content{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  overflow: hidden;
}

.image-container {
  height: 250px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-container {
  padding: 1rem;
}

.button-container a {
  display: inline-block;
  text-decoration: none;
  color: black;
}